body {
    font-family: 'Saira', sans-serif;
    /* background-color: #073B4C; */
    background-color: #233359;
}

section {
    padding: 1em 2em;
}

input {
    margin-bottom: 3em;
}

input, button {
    font-size:  2rem;
}

@media(max-width: 40em) {
    section {
        padding: 0 1em;
    }

    input, button {
        font-size: 1.5rem;
        margin-bottom: 1em; 
        width: 7em;
        display: block;
        margin: auto;
        padding: 0;
        justify-content: center;   
        }
}

.border-line {
    background-color: white;
    height: .25em;
    margin: 0 4em;
}

h1, h2, h3{
    font-size: 2rem;
}

li {
    font-size: 1rem;
}

.example-title {
    color: #118ab2;
    font-size: 1em;
}

@media(min-width: 40em) {
    h1, h2, h3, h4, li {
        
        font-size: 1.5rem;
    }

    .example-title {
       
        font-size: 1.5rem;
    }
}

h4 {
    font-size: 1.4rem;
}

#app-title {
    /* color: white; */
    /* color: #118ab2; */
    color: #06d6a0;
    font-size: 3rem;
    text-align: center;
}

#app-caption {
    color:white;
    text-align: center; 
}

#guide-text {
    font-size: 1.5rem;
    color: #06d6a0;
}

.example-font {
    color: white;
}

@media(max-width: 40em) {
    #app-title {
        font-size: 2rem;
    }

    #app-caption {
        font-size: 1rem;
    }

    #guide-text {
        font-size: 1rem;
        text-align: center;
    }
}

footer {
    text-align: center;
}

footer, #nameOutput, #infoOutput {
    color: white;
}

button {
    background-color: #ECCF1C;
}

.split {
    display: flex;
    flex-direction: column;
}

@media(min-width: 40em) {
    .split {
        flex-direction: row;
    }
    /* .split > * {
        flex-basis: 100%;
    } */

    .split > * + * {
        margin-left: 2em;
    }
}

#img-test, #vid-test {
    border: 3px white solid;
    height: 23em;
    width: 35em;
}

video {
    
    display: block;
    margin: auto;
    padding: 0;
    /* border: solid white 3px; */
}

img {
    height: 15em;
    width: 17em;
    display: block;
    margin: auto;
    padding: 0;
    /* border: solid white 3px; */
}

@media(max-width: 40em) {
    img {
      display: block;
      margin: auto;
      padding: 0;
    }

    #img-test, #vid-test {
        height: 15em;
    }

    #infoOutput {
        font-size: 1.5rem;
    }


}